<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net461" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video.DirectShow" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Vision" version="3.8.0" targetFramework="net461" />
  <package id="Irony" version="1.1.0" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.17.0" targetFramework="net461" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.TextWriter" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net461" />
</packages>